@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

body {
  background-color: #b392c9;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-pad {
  padding-left: 30px;
  width: 1000px;
  margin: auto;
  text-align: center;
}

.text-group {
  
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.wrapper {
  background: #4b0081;
  padding-bottom: 120px;
  margin-left: -300px;
  border-style: solid;
  border-width: 5px;
  border-color: #290047;
  text-align: center;
}

.chrome-text {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 200px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

.pink-text {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 160px;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 400px;
  margin-top: -120px;
  -webkit-text-stroke: 3px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

.App {
  text-align: center;
}

.nav-div {
  position: absolute;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  float: left;
}
.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover {
  background-color: #111;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#kmpbutton {
  padding-top: 100px;
}

#kmpbutton:active {
  content: url("../assets/kmp_button_cash.png");
}

#gameSpace {
  display: flex;
  flex-flow: row;
  height: 100%;
}

#buttonArea {
  width: 33%;
  border-right-style: solid;
  border-width: 5px;
  border-color: #290047;
}

#storeArea {
  padding-top: 30px;
  flex-grow: 1;
}

.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul.horizontal-list {
  list-style: none;
}

ul.horizontal-list li {
  display: inline;
}

.kris, .stotts, .montek, .jeffay {
  height: 75px;
}

.App-header {
  background-color: rgb(145, 202, 240);
  padding: 60px;
  color: white;
}

.App-intro {
  font-size: xx-large;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.content-text {
  color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 25px;
}

.title-text {
  color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 40px;
  display: inline;
  float: none;
}

.buyButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4b0081;
  border-radius: 15px;
  box-shadow: 0 9px rgb(121, 121, 121);
}

.buyButton:hover {
  background-color: #290047;
}

.buyButton:active {
  background-color: #290047;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* For autocomplete search bar and pop-up in InfoComponent */
.exampleKris, .exampleStotts, .exampleMontek, .exampleJeffay, .exampleKMP {
  height: 150px;
  padding-top: 3%;
}

.searchBar {
  font-size: 120%;
  text-align: center;
}


.profSearch input {
  border: 1px solid #4b0081;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: black;
  padding: 0.5rem;
}

.suggestions {
  display:inline-table;
  border: 1px solid #4b0081;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  text-align: center;
}

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #4b0081;
}

.profInfo {
  text-align: center;
}

.profSearch {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
}

.form-input:focus {
  border: 3px solid #555;
}

.p-font {
  font-size: 25px;
}

.textArea {
  width: 40em;
  height: 10em;
  font-size: 18px;
}

.logoutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4b0081;
  border-radius: 15px;
  box-shadow: 0 9px rgb(121, 121, 121);
}

.profContainer {
  height: 200px;
  margin: auto;
  text-align: center;
  width: 900px;
}

.buyDiv {
  display: inline-block;
  height: 70px;
  width: 100px;
  position: relative;
  top: -35px;
}

.costDiv {
  display: inline-block;
  height: 70px;
  width: 120px;
  position: relative;
  top: 40px;
}

.costDiv .content-text {
  color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 25px;
  position: relative;
  top: -32px;
  left: 20px;
}

.profArray {  
  display: inline-block;
  min-width: 50px;
  height: 70px;
}
